h2{
    margin-right: 4.75rem;
}
.contenedor-nav{
    height: 4.540763673890609vh;
    margin-top: 0.688rem;
}
.nav{
    margin-left: 4rem;
    margin-right: 4rem;
}
.nav{
    justify-content: flex-start;
}

.title, .items{
    height: auto;
}

.nav.items{
    flex-direction: row-reverse;
}
li{
    margin-right: 1.875rem;
}
.img{
    margin-left: 3%;
}
.nav-login a{
    width: 5.625rem;
    height: 0.375rem;
    border: 5px solid;
    font-weight: 500;
    border-radius: 0.625rem;
    border-color:  #CE5B84 ;
}

.nav-login li a:hover {
    background-color: #CE5B84;
  }

  .nav-uno li a:hover {
    background-color: #D7F8FD;

    border-radius: 0.625rem;
  }
/* 
.container-principal{
    flex-direction: column;
    width:  100vw;
}
.sign-up{
    flex-direction: row;
    height: 100vh;
}

.nav{
    flex-direction: row;
    width: fit-content;
}

.fomulario{
    margin-top: -5rem;
}

label.password a {
    font-weight: normal;
    float: right;
    position: relative;
    top: 6px;
    font-size: 14px;
}

.form-fields p{
    margin: 0;
}

div .mitad{
    height: auto;
}

.nav-login{
    flex-direction: row-reverse;
}
.nav-uno h1{
    margin-right: 4.688rem;
}

.nav-login nav{
    margin-top: 2.5%;
}
.nav-uno a{
    margin-right: 2.313rem;
}

.nav-login a {
    margin-right: 7.563rem;
    width: 12rem;
    height: 6rem;
    border: 5px solid;
    font-weight: 500;
    border-radius: 0.625rem;
    border-color:  #CE5B84 ;
}

  .nav-login li a:hover {
    background-color: #CE5B84;
  }

  .nav-uno li a:hover {
    background-color: #D7F8FD;

    border-radius: 0.625rem;
  }

  .search-input-with-dropdown .btn-dropdown .btn-dropdown-link .btn-dropdown-caret {
    position: static;
    width: 14px;
    height: 14px;
    margin-left: 8px;
    right: 15px;
    top: 15px;
    fill: currentColor;
}
form fieldset {
    margin: 0 0 12px;
}


.fomulario{
    flex-direction: column;
}

.fomulario  h1{
    margin-bottom: 0;
}

.fomulario p{
    margin-top: 0;
}

input{
    margin-top: 3.563rem;
}

.form-sub, .form-btn, a.form-sub, a.form-btn {
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: #A9D2E2;
    transition: all 200ms ease;
    border-radius: 8px;
    appearance: none;
    position: relative;
    outline: none;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    height: 5.5rem;
    width: 22.938rem;
    box-sizing: border-box;
    text-align: center;
}
.form-fields{
    flex-direction: column;
} */
