p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.left{
      width: 50%;
  }
  .left .titulo{
      margin-left: 2.5rem;
      margin-top: 2.438rem;
  }
  .left p{
      margin-left: 2.5rem;
      margin-top: 0rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      color: #3F3D56;
      font-weight: 600;
  }
  .right{
    align-items: center;
    justify-content: center;
    width: 50%;
    background: #EBAE44;
}
.right h3{
    margin-bottom: 1.5rem;
}
.right p{
    margin: 0;
    margin-bottom: 3rem;
    color:#3F3D56;
    font-weight: 600;
}
.right p a{
    margin-left: 0.688rem;
    color:blue;
}
.right .boton-social{
    margin-bottom: 1.75rem;
}

.right .boton-social button{
    margin-right: 1rem;
}

.right .boton-social button.active{
  background-color: lightgrey;
}
.right .boton-social button img{
    width: 20px;
    height: 20px;
}
form{
  width: 100%;
}
.right form .accept-tems{
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}

.right .link-tems{
  margin-left: 1rem;
}
.right .sign-up{
  background-color:#4481EB;
}
.right form .label-checkbox{
  font-family:'Dosis', sans-serif;
  font-size: larger;
  font-weight: 500;

}
@media screen and (max-width:1024px){
  .label-checkbox{
    flex-direction: column;
  display: flex;
  }
}
   @media screen and (max-width:888px){
    .container{
      flex-direction: column;
     }
     .left{
      width: 100%;
    }
    .right{
      width: 100%;
    }
  }
  @media screen and (max-width:540px){
    .label-checkbox{
      flex-direction: column;
    display: flex;
    }
  }
  @media screen and (max-width:425px) {
      .container{
          flex-direction: column;
      }
      .left{
        width: 100%;
      }
      .left p{
          display: none;
      }
      .right p{
          font-size: 2.2rem;
      }
      .right{
        width: 100%;
      }
      form{
        width: 80%;
      }
  }
  @media screen and (max-width:375px){
    form{
      width: 80%;
    }
  }
  @media screen and (max-width:320px){
    form{
      width: 80%;
    }
    .label-checkbox{
      flex-direction: column;
    display: flex;
    }
    .right .boton-social .active p{
      display: none;
    }
  }
  @media screen and (max-width:280px){
    .container{
      margin-right: 20px;
    }
    .container h3{
      font-size: 2.8rem;
    }
    .right p{
      font-size: 1.8rem;
    }
    .right .boton-social button{
      line-height: 16px;
    }
    .right .boton-social button:not(.active) img{
      width: 40px;
      height: 40px;
    }
    .right .boton-social .active img{
      width: 40px;
      height: 40px;
    }
    .right .boton-social .active p{
      display: none;
    }
    form{
      width: 100%;
    }
    .label-checkbox{
      flex-direction: column;
    display: flex;
    }

  }
 