<div class="container">
    <div class="flex row space-between top-nav">
        <div class="flex row center">
            <img src="../../../assets/imagenes/dog_animal_pet_bulldog_icon_124662.svg" alt="" srcset="">
        </div>
        <div class="navegador flex row center">
            <nav class="nav-horizontal">
                <ul>
                    <li><a class="active">Home</a></li>
                    <li><a>Veterinary Clinics</a></li> 
                    <li><a>Make an appointment</a></li>
                    <li><a>Blog</a></li>
                    <li><a>About Us</a></li>
                    <li><a>Contact Us</a></li>  
                </ul>
            </nav>
            <button class="boton-login">Login</button>
        </div>
    </div>
    <div class="pantalla flex row  center">
        <div class="flex center column left">
            <h1>
                It's so simple to take care of your pets.   
            </h1>
            <p>
                Free first appointment and 30% off medications
            </p>
            <button class="boton-learMore">Learn more</button>
        </div>
        <div class="right flex center">
            <img  src="../../../assets/imagenes/undraw_happy_music_g6wc.svg">
        </div>
    </div>
        <h2 class="flex center">Services</h2>
        <p class="texto flex center center-text">Because we care about your pets! The best services at your fingertips, for a good health for your pets</p>
        <p class="texto flex center center-text">For more happy and healthy pets in the world.</p> 
    <div class="flex column center services">
        <div class="flex row center">
            <div class="box-services">
                <div class="flex center">
                    <img class="img-Services" src="../../../assets/imagenes/icons8-syringe-100.png" alt="" srcset="">
                </div>
                <h2 class="flex center center-text">Vaccines</h2>
                <p class="texto flex center center-text">Take care of your animals from viral diseases, so that your pet has a long life</p>
            </div>
            <div class="box-services">
                <div class="flex center">
                    <img class="img-Services dog" src="../../../assets/imagenes/icons8-dog-cone-100.png" alt="" srcset="">
                </div>
                <h2 class="flex center center-text">Sterilization</h2>
                <p class="texto flex center center-text">Sterilize your pet to control the large number of animals that end up abandoned, due to a responsible pet tendency</p>
            </div>
            <div class="box-services">
                <div class="flex center">
                    <img class="img-Services estetoscopio" src="../../../assets/imagenes/icons8-stethoscope-100.png" alt="" srcset="">
                </div>
                <h2 class="flex center center-text">Controls</h2>
                <p class="texto flex center center-text">Bring your animal to the permanent medical consultations, your animal will thank you </p>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>