<div class="flex row container">
    <div class="flex column left">
        <button name="button" type="submit" class="back">
            <img class="img-active" src="../../../assets/imagenes/ic-back_97586.svg">
            Contine Shopping 
        </button>
        <div class="line"></div>
        <p>Shopping Cart</p>
        <div class="info-items flex row space-between">
            <div>
                <p class="number-items">You have a 4 items in your cart</p>
            </div>
            <div class="sort flex row">
                <p class="orden">Sort By: </p>
                <select>
                    <option>Price</option>
                  </select>
            </div>
        </div>
        <div class="product-list">
            <div class="flex row product-card space-between">
                <div class="flex row product">
                    <div class="product-imag">
                        <img src="../../../assets/imagenes/f224f4d5d546b9d5ab32baaf23fa512c_preview_rev_1.png" alt="" srcset="">
                    </div>
                    <div class="flex column product-descript">
                        <p class="name-product">HUAWEI P30 Lite 4G Smartphone</p>
                        <p class="caract-product">18 GB, Color Blue</p>  
                    </div>
                </div>
                <div class="flex row center">
                    <button mat-icon-button aria-label="boton-icon">
                        <mat-icon>add</mat-icon>
                    </button>
                    <div class="flex column box-cant">
                        <p class="cant">1</p>
                    </div>
                    <button mat-icon-button aria-label="boton-icon">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <p class="produc-price">$80.000</p>
                    <button mat-icon-button aria-label="boton-icon" class="deleteboton">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex row product-card space-between">
                <div class="flex row product">
                    <div class="product-imag">
                        <img src="../../../assets/imagenes/Pasted-20210106-175225_preview_rev_1.png" alt="" srcset="">
                    </div>
                    <div class="flex column product-descript">
                        <p class="name-product">Apple Iphone se</p>
                        <p class="caract-product">64 GB, Color Black</p>  
                    </div>
                </div>
                <div class="flex row center">

                    <button mat-icon-button aria-label="boton-icon">
                        <mat-icon>add</mat-icon>
                    </button>
                    <div class="flex column box-cant">
                        <p class="cant">1</p>
                    </div>
                    <button mat-icon-button aria-label="boton-icon">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <p class="produc-price">$150.000</p>
                    <button mat-icon-button aria-label="boton-icon" class="deleteboton">
                        <mat-icon >delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex row product-card space-between">
                <div class="flex row product">
                    <div class="product-imag">
                        <img src="../../../assets/imagenes/Pasted-20210106-175939_preview_rev_1.png" alt="" srcset="">
                    </div>
                    <div class="flex column product-descript">
                        <p class="name-product">Xiaomi Redmi Note 9S</p>
                        <p class="caract-product">64 GB, Color Black</p>  
                    </div>
                </div>
                <div class="flex row center">
                    <button mat-icon-button aria-label="boton-icon">
                        <mat-icon>add</mat-icon>
                    </button>
                    <div class="flex column box-cant">
                        <p class="cant">1</p>
                    </div>
                    <button mat-icon-button aria-label="boton-icon" >
                        <mat-icon>remove</mat-icon>
                    </button>
                    <p class="produc-price">$246.000</p>
                    <button mat-icon-button aria-label="boton-icon" class="deleteboton">
                        <mat-icon >delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex row product-card space-between">
                <div class="flex row product">
                    <div class="product-imag">
                        <img src="../../../assets/imagenes/Pasted-20210106-175225_preview_rev_1.png" alt="" srcset="">
                    </div>
                    <div class="flex column product-descript">
                        <p class="name-product">Apple Iphone se</p>
                        <p class="caract-product">64 GB, Color Black</p>  
                    </div>
                </div>
                <div class="flex row center">
                    <button mat-icon-button aria-label="boton-icon">
                        <mat-icon>add</mat-icon>
                    </button>
                    <div class="flex column box-cant">
                        <p class="cant">1</p>
                    </div>
                    <button mat-icon-button aria-label="boton-icon">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <p class="produc-price">$150.000</p>
                    <button mat-icon-button aria-label="boton-icon" class="deleteboton">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex column right">
        <div class="cabecera flex colum">
            <p>Card Details</p>
            <img src="../../../assets/imagenes/80073c733bdd4ad4da9bf11c081b9aff.jpg" alt="">
        </div>
        <p>card type</p>
        <div class="flex center row tipo-pago">
            <button name="button" type="submit">
                <img class="img-active" src="../../../assets/imagenes/master_card_icon_133071.svg">
            </button>    
            <button name="button" type="submit">
                <img class="img-active" src="../../../assets/imagenes/visa_icon_133070.svg">
            </button>    
            <button name="button" type="submit">
                <img class="img-active" src="../../../assets/imagenes/american_express_icon_133068.svg">
            </button>    
            <button name="button" type="submit">
                <img class="img-active" src="../../../assets/imagenes/paypal_icon_133069.svg">
            </button>   
        </div>
        <form class="flex column"> 
            <mat-form-field class="input-mat" appearance="none">
                <mat-label>Name on Card</mat-label>
                <input type="text" matInput placeholder="Jane Doe">
            </mat-form-field>
            <mat-form-field class="input-mat" appearance="none">
                <mat-label>Card Number</mat-label>
                <input type="text" matInput placeholder="1111 2222 3333 4444">
            </mat-form-field>
            <div class="info-card flex row">
                <mat-form-field class="input-mat" appearance="none">
                    <mat-label>Expiration Date</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>                  
                <mat-form-field class="input-mat" appearance="none">
                    <mat-label>CVV</mat-label>
                    <input type="text" matInput placeholder="123">
                </mat-form-field>
            </div>        
        </form>
        <div class="line"></div>
        <div class="payment-details flex column">
            <div class="flex row space-between">
                <p>Subtotal</p>
                <p>$3000.000</p>
            </div>
            <div class="flex row space-between">
                <p>Shipping</p>
                <p>$20.00</p>
            </div>
            <div class="flex row space-between">
                <p>Total (tax inci.)</p>
                <p>$38200.00</p>
            </div>
        </div>
        <button name="button" type="submit" class="boton-pay">
            Check out
        </button>
    </div>
</div>

<style>
   
</style>
