/*Globales*/
img{
    height: 15px;
    width: 15px;  
}
.back{
    background-color: #ffffff;
    font-size: 20px;
    width: 38%;
}
.container{
    margin: 4.5rem 4.5rem;
    height: 100vh;
}
.container .left{
    padding-right: 4.5rem;
    height: 100vh;
    height: fit-content;
}
.container .left img{
    margin-right: 1rem;
}

.line{
    border: 1px lightgray solid;
    width: 100%;
    margin-bottom: 3rem;
}

p{
    font-weight: 700;
    font-size: 25px;
}
.info-items{
    margin-top: 1.25rem;
    justify-content: space-between;
}

.info-items p{
    font-weight: 600;
    font-size: 16px;
}

.info-items p.orden{
    margin-right: 1rem;    
}

.info-items select {
    border: none;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
  }
  
.product-list{
 margin-top: 2.5rem;   
}

.product-list .product-card{
    margin-right: 1.688rem;
    margin-bottom: 2rem;
    height: 15rem;
    padding-left: 21px;
    align-items: center;
    align-content: center;
}

.product-list .product-card .product-imag{
    height: 12rem;
    width: 12rem;

}
.product-list .product-card .product-imag img{
    width: 100%;
    height: 100%;
} 
.product-descript{
    width: 30%;
    margin-right: 1.875rem;
}
.product-list .product-card .product-descript p{
    font-size: 14px;
    
}
.product-list .product-card .product-descript p.name-product{
    font-weight: 600;
}
.product-list .product-card .product-descript p.caract-product{
    font-weight: 500;
    color: lightslategray;
}
.mat-icon-button{
    font-size: inherit;
    width:auto;
}
.box-cant{
    border: 2px lightslategray solid;
    border-radius: 6px;
    width: 35px;
    height: 35px;
    text-align: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.cant{
    font-size:16px ;
    font-weight: 600;
}
.produc-price{
    margin-left: 62px;
    margin-right: 32px;
    font-weight: 600;
    font-size: 20px;
}
.container .right{
    background-color: #565CBA;
    border-radius: 2%;
    padding: 3.563rem 2.5rem;
    color:#ffffff;
    height: fit-content;
}
.right .cabecera{
    justify-content: space-between;
    margin-bottom: 2.5rem;
}
.right .cabecera p{
    font-weight: 600;
    font-size: 20px;
}

.right img{
    border-radius: 10%;
    width: 52px;
    height: 52px;
}

.right p{
    font-weight: 500;
    font-size: 14px;
}
.right .tipo-pago{
    margin-top: 0.625rem;
}
.right .tipo-pago button{
    border: 2px white solid;
    border-radius: 10%;
    width: 12.5rem;
    height: 7.5rem;
    background: none;
}
.right .tipo-pago button:not(:last-child){
    margin-right: 6rem;
}

form{
    margin-top: 3rem;
    width: 100%;
}
.input-mat{
background-color: #6268C5;
padding:1.313rem 1.313rem;
border-radius:4%;
height: 50%;
}
.input-mat:not(:last-child){
    margin-bottom: 2.188rem;
}
  
   mat-label {
    color: white;
    /* add label text color here */
  }
  
   .mat-input-element {
    color: white;
    /* add input text color here */
  }

.mat-input-element::placeholder {
    color: white;
    /* add placeholder css here */
}
.info-card .input-mat{
    width: 50%;

}
.info-card .input-mat:not(:last-child){
    margin-right: 2rem;
}

.payment-details{
    margin-bottom: 2.25rem;
}
.boton-pay{
    background-color: #4EE1C1;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
}
.deleteboton{
    color: lightgray;
}
.deleteboton:hover{
color:red;
}

@media screen and (max-width:1024px){
    .container{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
  }
     @media screen and (max-width:888px){
      
    }
    @media screen and (max-width:540px){
      
    }
    @media screen and (max-width:425px) {
        .back{
            width: 77%;
        }
        .info-items p{
            font-size: 13px;
        }
        .info-items select{
            font-size: 13px;
        }
        .product-list .product-card{
            margin-bottom: 5rem;
        }
        .product{
            flex-direction: column;
        }
        .product-descript{
            width: 100%;
        }
    }
    @media screen and (max-width:375px){
      
    }
    @media screen and (max-width:320px){
      
    }
    @media screen and (max-width:280px){
  
    }
   