/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500&display=swap');


/* body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
} */
body {
    margin: 0;
}
/*POSICIONES FLEX*/
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: stretch;
}
.centrado{
    justify-content: center;
    align-items: center;
}

.mitad{
    min-height: 100%;
    max-width: 50%;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

fieldset{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

input.text-input {
    width: 100%;
    margin-right: 8px;
}

input[type='text'], input[type='number'], input[type='search'], input[type='password'], input[type='email'], input[type='url'], input[type='tel'], .braintree-input, .selectize-input {
    border: 1px solid transparent;
}

input[type='text'], input[type='number'], input[type='search'], input[type='password'], input[type='email'], input[type='url'], input[type='tel'], .braintree-input, .selectize-input, textarea, .ql-container .ql-editor, select, .input-with-prefix {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 16px;
    outline: none;
    border-radius: 8px;
    appearance: none;
    color: #0d0c22;
    background-color: #f3f3f4;
}

img{
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .page {
    text-align: center;
    width: 100%;
    height: 100vh;
  }
  
  .table {
    display: table;
  }
  .table .centered {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  
  .pseudo:after {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .pseudo .centered {
    display: inline-block;
    vertical-align: middle;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: grid;
    align-content: center;
    justify-content: center;
  }